argcomplete==1.10.0
asgiref==3.2.10
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
contextvars==2.4
Django==3.0.8
django-bootstrap4==2.2.0
docx2txt==0.8
EbookLib==0.17.1
extract-msg==0.23.1
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.7.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
IMAPClient==2.1.0
immutables==0.14
importlib-metadata==1.7.0
lxml==4.6.3
olefile==0.46
pdf2text==1.0.0
pdfminer==20191125
pdfminer.six==20181108
Pillow==7.2.0
pycryptodome==3.9.8
PyPDF2==1.26.0
python-docx==0.8.10
python-pptx==0.6.18
pytz==2020.1
rfc3986==1.4.0
six==1.12.0
sniffio==1.1.0
sortedcontainers==2.2.2
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.3.1
textract==1.6.3
tzlocal==1.5.1
xlrd==1.2.0
XlsxWriter==1.2.9
zipp==3.1.0
